.App {
  text-align: center;
  width: 100%;
  background-color: #f3f5ff;
  justify-content: center;
  height: 100%;
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(2,30%);
  padding-top: 10px;
  

 
}
.border{
  border: 2px solid gray;
  width: 60vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color:#ffffff;
  margin: auto;
  
  
  
  
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}